body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-links{
    overflow: hidden;
    background-color: grey;
}
.nav-links a{
    padding: 30px 100px;
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    text-align: center;
}
.nav-links .active{
    background-color: rgb(51, 50, 50);
}
.titulo{
    text-align: right;
    margin-right: 30px;
    margin-top: 30px;
}

.anunciadorColor{
    background-color: black;
    font-size: 80px;
    border: 2px solid black;
    border-radius: 20px;
    color: white;
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 200px;
}
.anunciadorColor p{
    text-align: center;
}

.botonColor{
    width: 100%;
}
.boton{
    background-color: black;
    border: none;
    border-radius: 0 0 20px 20px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 45px;
    cursor: pointer;
    display: inline-block;
}
.botonCenter{
    text-align: center;
}